In [1]:

import pandas as pd
countries = pd.Series(
    data = ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'],
    name = 'countries'
)
display(countries)

C:\Users\user\AppData\Local\Temp\ipykernel_3164\3356209317.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

In [2]:
countries = pd.Series({
    'UK': 'Англия',
    'CA': 'Канада',
    'US' : 'США',
    'RU': 'Россия',
    'UA': 'Украина',
    'BY': 'Беларусь',
    'KZ': 'Казахстан'},
    name = 'countries'
)
display(countries)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

In [3]:
my_series = pd.Series(data=[5, 6, 7, 8, 9, 10], index=['a', 'b', 'c', 'd', 'e', 'f']) 
display(my_series)

a     5
b     6
c     7
d     8
e     9
f    10
dtype: int64

In [4]:
def create_medications(names, counts):
    result = pd.Series(
        data= counts,
        index = names,
        name = 'Series medications'
    )
    return result


def get_percent(medications, name):
    a = sum(medications)
    proc = medications[name]*100/a
    return proc
names=['chlorhexidine', 'cyntomycin', 'afobazol']
counts=[15, 18, 7]
medications = create_medications(names, counts)

print(get_percent(medications, "chlorhexidine")) #37.5

37.5

In [5]:
countries_df = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'area'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)
display(countries_df)

      country  population      area
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [6]:
type(countries_df.population)

pandas.core.series.Series

In [7]:
income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]


def create_companyDF(income, expenses, years):
    frame = pd.DataFrame(
        {'Income':income,'Expenses': expenses},
        index = years        
        
    )
    return frame
display(create_companyDF(income,expenses,years))
df = create_companyDF(income, expenses, years)

      Income  Expenses
2018     478       156
2019     512       130
2020     196       270

In [8]:
def get_profit(df, year):
    if year not in (df.index):
        return None
    res =df.loc[year, 'Income'] - df.loc[year, 'Expenses']
    return res

get_profit(df, 2018)

322

In [9]:


countries_df.to_csv('data/countries.csv', index=False, sep=';')

In [10]:
countries_data = pd.read_csv('data/countries.csv', sep=';')
print(countries_data)

     country  population      area
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

In [11]:
melb_data = pd.read_csv('data/melb_data.csv',sep= ',')

In [12]:
melb_data.loc[15,'Price']

1310000.0

In [13]:
melb_data.loc[90,'Date']

'10/09/2016'

In [14]:
melb_data.loc[3521,'Landsize']/melb_data.loc[1690, 'Landsize']

2.7857142857142856

In [15]:
melb_data.head(3)

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0,"-37.8093, 144.9944"

In [16]:
data = pd.DataFrame([[0,1], [1, 0], [1, 1]], columns=['А', 'B'])

In [17]:
print(data.shape)

(3, 2)

In [18]:
melb_data['Coordinates']

0          -37.7996, 144.9984
1          -37.8079, 144.9934
2          -37.8093, 144.9944
3          -37.7969, 144.9969
4          -37.8072, 144.9941
                 ...
13575    -37.90562, 145.16761
13576    -37.85927, 144.87904
13577    -37.85274, 144.88738
13578    -37.85908, 144.89299
13579    -37.81188, 144.88449
Name: Coordinates, Length: 13580, dtype: object

In [19]:
melb_data['CouncilArea'].info()
13580-12211

<class 'pandas.core.series.Series'>
RangeIndex: 13580 entries, 0 to 13579
Series name: CouncilArea
Non-Null Count  Dtype
--------------  -----
12211 non-null  object
dtypes: object(1)
memory usage: 106.2+ KB

1369

In [20]:
melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: float64(6), int64(8), object(9)
memory usage: 2.4+ MB

In [21]:
melb_data.loc[:,'Type'].value_counts(normalize=True)

Type
h    0.695803
u    0.222165
t    0.082032
Name: proportion, dtype: float64

In [22]:
melb_data.loc[:,('Longtitude','Lattitude')].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Longtitude  13580 non-null  float64
 1   Lattitude   13580 non-null  float64
dtypes: float64(2)
memory usage: 212.3 KB

In [23]:
melb_data.loc[:,'Propertycount'].max()

21650

In [24]:
melb_data.loc[:,'Distance'].std()

5.868724943071711

In [36]:
(melb_data.loc[:,'BuildingArea'].quantile(0.5))/melb_data.loc[:,'BuildingArea'].mean()*100

90.23592033763546

In [42]:
x = pd.DataFrame(
    data= [1, 2, 4, 2, 3, 2, 1, 5, 6],
    columns=['i'])
x.loc[:,'i'].mode()

0    2
Name: i, dtype: int64

In [45]:
melb_data.loc[:,'Bedroom'].mode()

0    3
Name: Bedroom, dtype: int64

In [46]:
mask = melb_data['Price'] > 2000000
display(mask)

0        False
1        False
2        False
3        False
4        False
         ...
13575    False
13576    False
13577    False
13578     True
13579    False
Name: Price, Length: 13580, dtype: bool

In [47]:
display(melb_data[mask].head())

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
80,80,Albert Park,112 Beaconsfield Pde,3,h,2850000.0,PI,Buxton,4/03/2017,3.3,...,0,211.0,198.0,1890,Port Phillip,-37.8481,144.9499,Southern Metropolitan,3280,"-37.8481, 144.9499"
85,85,Albert Park,104 Richardson St,4,h,2300000.0,S,Marshall,7/05/2016,3.3,...,1,153.0,180.0,1880,Port Phillip,-37.8447,144.9523,Southern Metropolitan,3280,"-37.8447, 144.9523"
88,88,Albert Park,29 Faussett St,2,h,2120000.0,S,Greg,10/09/2016,3.3,...,1,199.0,107.0,1900,Port Phillip,-37.8422,144.9554,Southern Metropolitan,3280,"-37.8422, 144.9554"
92,92,Albert Park,2 Dundas Pl,3,h,2615000.0,S,Cayzer,10/12/2016,3.3,...,1,177.0,181.0,1880,Port Phillip,-37.8415,144.9585,Southern Metropolitan,3280,"-37.8415, 144.9585"
93,93,Albert Park,23 Finlay St,5,h,2100000.0,S,Greg,10/12/2016,3.3,...,1,237.0,126.0,1970,Port Phillip,-37.8436,144.9557,Southern Metropolitan,3280,"-37.8436, 144.9557"

In [62]:
melb_data[melb_data['Rooms'] == 3].shape[0]

(13580, 23)

In [63]:
melb_data[(melb_data['Rooms'] == 3)&(melb_data['Price'] < 300000)].shape[0]

3

In [64]:
melb_data[((melb_data['Rooms'] == 3) | (melb_data['BuildingArea'] > 100)) & (melb_data['Price'] < 300000)].shape[0]

68

In [66]:
melb_data[melb_data['Bathroom'] == 0].shape[0]

34

In [68]:
melb_data[(melb_data['SellerG'] == 'Nelson') & (melb_data['Price'] > 3000000)].shape[0]

5

In [69]:
cond1 = melb_data[melb_data['BuildingArea'] == 0]
cond1['Price'].min()

412500.0

In [75]:
melb_data[(melb_data['Price'] < 1000000) & ((melb_data['Rooms'] > 5) | (melb_data['YearBuilt'] > 2015))].loc[:,'Price'].mean()

769238.6363636364

In [78]:
melb_data[(melb_data['Type'] == 'h') & (melb_data['Price'] < 3000000)]['Regionname'].mode()

0    Northern Metropolitan
Name: Regionname, dtype: object